<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="manifest" href="site.webmanifest" />

		<title>Jesse Hattabaugh / <block name="title"></block></title>
		<meta
			name="description"
			content="Personal website of Jesse Hattabaugh"
		/>

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/jesse192.png" />
		<meta name="theme-color" content="#F00" />

		<link rel="preload" href="all.css" as="style" />
		<link rel="preload" href="print.css" as="style" />
		<link rel="preload" href="screen.css" as="style" />
		<link rel="preload" href="wide.css" as="style" />

		<link rel="stylesheet" href="all.css" />
		<link rel="stylesheet" href="print.css" media="print" />
		<link rel="stylesheet" href="screen.css" media="screen" />
		<link
			rel="stylesheet"
			href="wide.css"
			media="screen and (min-width: 512px)"
		/>
	</head>
	<body>
		<header>
			<h1>
				<a href="/">Jesse Hattabaugh </a
				><b style="white-space: nowrap;">💻🚲☕</b>
			</h1>
			<h2>Web Developer</h2>
		</header>
		<nav>
			<a href="share.html#shareing">Share</a>
			<a href="resume.html">Resume</a>
			<a href="#contact">Contact</a>
		</nav>
		<main><block name="main"></block></main>
		<footer id="contact">
			<h2>Contact Me</h2>

			<dl>
				<dt>Email</dt>
				<dd>
					<a
						style="word-wrap: break-word;"
						href="mailto:webmaster@jessehattabaugh.com"
						>webmaster@jessehattabaugh.com</a
					>
				</dd>
				<dt>SMS</dt>
				<dd><a href="tel:+19713417127">(971) 341-7127</a></dd>
			</dl>
			<span id="copyright"
				>&copy; 2020
				<address>
					<a href="mailto:webmaster@jessehattabaugh.com"
						>Jesse Hattabaugh</a
					>
				</address></span
			>
		</footer>
		<script src="main.js"></script>
	</body>
</html>
