<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="manifest" href="site.webmanifest" />

		<title>Jesse Hattabaugh / <block name="title"></block></title>
		<meta
			name="description"
			content="Personal website of Jesse Hattabaugh"
		/>

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/jesse192.png" />
		<meta name="theme-color" content="#F00" />

		<link rel="stylesheet" href="all.css" />

		<link rel="preload" href="wide.css" as="style" />
		<link
			rel="stylesheet"
			href="wide.css"
			media="screen and (min-width: 512px)"
		/>

		<link rel="preload" href="dark.css" as="style" />
		<link
			rel="stylesheet"
			href="dark.css"
			media="screen and (prefers-color-scheme: dark)"
			id="prefersColorSchemeDarkLink"
			class="dark-stylesheet-link"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		

		<header>
			<h1>
				<a href="/">Jesse Hattabaugh </a
				><b style="white-space: nowrap;">💻🚲☕</b>
			</h1>
			<label>Dark: <input type="checkbox" id="darkToggle"/></label>
		</header>
		<nav>
			<a href="share.html#sharing">Share</a>
			<a href="resume.html">Resume</a>
			<a href="#contact">Contact</a>
		</nav>
		<main><block name="main"></block></main>
		<footer id="contact">
			<h2>Contact Me</h2>

			<dl>
				<dt>Email</dt>
				<dd>
					<a
						style="word-wrap: break-word;"
						href="mailto:webmaster@jessehattabaugh.com"
						>webmaster@jessehattabaugh.com</a
					>
				</dd>
				<dt>SMS</dt>
				<dd><a href="sms:+19713417127">(971) 341-7127</a></dd>
			</dl>
			<span id="copyright"
				>&copy; 2020
				<address>
					<a href="mailto:webmaster@jessehattabaugh.com"
						>Jesse Hattabaugh</a
					>
				</address></span
			>
		</footer>
		<script src="main.js"></script>
	</body>
</html>
