*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h1 :link,
h1 :visited {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: red;
	clear: left;
}

label {
	display: block;
}

.round {
	border-radius: 50%;
	shape-outside: circle(50%);
}
#skills dl > dt {
	float: left;
	clear: left;
	font-size: larger;
}
#skills dl > dd {
	margin-left: 10em;
	line-height: 2em;
}
#skills dd > ul {
	display: inline;
	padding: 0;
}
#skills dd > ul > li {
	display: inline;
}
#skills dd > ul > li:not(:last-child)::after {
	content: ', ';
}
#workHistory h3 span {
	white-space: nowrap;
	color: grey;
}

/* styles for all screens */
#photo {
	width: 100%;
}
