/* styles for any display medium */
@font-face {
	font-family: 'comicSans';
	src: url('/_public/fonts/comicSans.woff2') format('woff2'),
		 url('/_public/fonts/comicSans.woff') format('woff'),
		 url('/_public/fonts/comicSans.ttf') format('truetype'),
		 url('/_public/fonts/comicSans.otf') format('opentype'),
		 url('/_public/fonts/comicSans.eot') format('embedded-opentype'),
		 url('/_public/fonts/comicSans.svg') format('svg');
  }

:root {
	--rgb-black: 0, 0, 0;
	--rgb-white: 255, 255, 255;
	--unit-half: calc(var(--unit) / 2);
	--unit: 1em;
}

*,
*::before,
*::after {
	appearance: unset;
	box-sizing: inherit;
	line-height: calc(var(--unit) + var(--unit) / 2);
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	flex-direction: column;
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;;
}

body > * {
	margin: 0 auto;
	max-width: calc(var(--unit) * 50);
}

main {
	padding: var(--unit);
}

a:active,
a:focus,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/** prevent anchors from appearing under the sticky header */
a[name] {
	padding-top: 5em;
	margin-top: -5em;
	display: inline-block;
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: comicSans, 'Comic Sans MS', 'Chalkboard SE', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
	margin-bottom: calc(var(--unit) / 2);
	text-wrap: balance;
}
p {
	margin-bottom: var(--unit);
}
summary > * {
	display: inline;;
}