/* styles for any display medium */

@font-face {
	font-display: swap;
	font-family: comicSans;
	src: url('/_public/comicSans.woff2') format('woff2'),
		url('/_public/comicSans.woff') format('woff');
}

*,
*::before,
*::after {
	appearance: unset;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-size: unset;
}

html {
	--border: 1px solid var(--rgb-border);
	--color-error: Red;
	--font-body: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro,
		sans-serif;
	--font-code: comicSans, ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
		'DejaVu Sans Mono', monospace;
	--font-heading: comicSans, 'Comic Sans MS', 'Chalkboard SE', 'Segoe Print', 'Bradley Hand',
		Chilanka, TSCu_Comic, casual, cursive;
	--rgb-black: 0, 0, 0;
	--rgb-white: 255, 255, 255;
	--rgb-border: rgb(var(--rgb-black));
	--width-page: calc(var(--unit) * 50);
	--unit-half: calc(var(--unit) / 2);
	--unit: 1em;
	box-sizing: border-box;
	height: 100%;
}

body {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	display: flex;
	flex-direction: column;
	font-family: var(--font-body);
	font-smooth: auto;
	min-height: 100%;
	text-rendering: optimizeLegibility;
	text-wrap: pretty;
}

body > * {
	width: 100%;
}

main {
	flex: 1;
}

main {
	margin: 0 auto;
	max-width: var(--width-page);
	padding: var(--unit);
}

section {
	padding-bottom: var(--unit);
}

section:not(:last-child):after {
	content: '';
	border-bottom: var(--border);
	display: block;
	padding-top: calc(var(--unit) * 3);
}

a:active,
a:focus,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main blockquote,
main dd,
main dt,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
main pre,
main summary {
	padding-top: var(--unit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	font-weight: bold;
	text-wrap: balance;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

pre {
	overflow: auto;
	padding: var(--unit);
	margin-top: var(--unit);
}

blockquote {
	border-radius: var(--unit-half);
	border: 1px outset var(--color);
	overflow: auto;
	padding: var(--unit);
	margin-top: var(--unit);
}

main dl,
main dd,
main ol,
main ul {
	padding-left: var(--unit);
}

code {
	font-family: var(--font-code);
}

summary > * {
	display: inline;
}

img {
	max-width: 100%;
}

/* classes */

.error {
	color: var(--color-error);
}

.vcard {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 1em;
	padding: 1em;
	box-shadow: 0em 0em 1em 0em;
}
.page-container {
	margin: 0 auto;
	max-width: var(--width-page);
}