/* styles for any display medium */
@font-face {
	font-family: 'comicSans';
	src: url('/_public/fonts/comicSans.woff2') format('woff2'),
		 url('/_public/fonts/comicSans.woff') format('woff'),
		 url('/_public/fonts/comicSans.ttf') format('truetype'),
		 url('/_public/fonts/comicSans.otf') format('opentype'),
		 url('/_public/fonts/comicSans.eot') format('embedded-opentype'),
		 url('/_public/fonts/comicSans.svg') format('svg');
  }

:root {
	--background-color: black;
	--color-error: orange;
	--color: white;
	--font-family-heading: comicSans, 'Comic Sans MS', 'Chalkboard SE', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
	--font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--theme: red;
	--unit: 1em;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: white;
		--color: black;
	}
}

/* resets */
*,
*::before,
*::after {
	appearance: unset;
	box-sizing: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	background-attachment: fixed;
	background-color: var(--background-color);
	background-image: linear-gradient(to bottom, var(--background-color), currentColor 200%);
	flex-direction: column;
	font-family: var(--font-family);
	height: inherit;
}

body > * {
	padding: var(--unit);
}

a:active,
a:focus,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: currentColor;
	font-family: var(--font-family-heading);
	margin-bottom: 0.5em;
}

p {
	color: var(--color);
	margin-bottom: var(--unit);
}
