@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
	--background-color: black;
	--color: white;
	--dead-relatives: 3; /* widows and orphans */
	--error: orange;
	--font-family-heading: 'Comic Neue', 'Comic Sans MS', 'Chalkboard SE', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
	--font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--theme: red;
	--unit: 1em;
}


/* resets */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	animation: colorwheel 60s linear infinite;
	box-sizing: border-box;
	color: red;
	height: 100%;
}
@keyframes colorwheel {
	33.3% { color: lime; }
	66.7% { color: aqua; }
}

body {
	background-color: var(--background-color);
	background-image: linear-gradient(to bottom, var(--background-color), currentColor 666%);
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	height: inherit;
}

body > * {
	padding: var(--unit);
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: inherit;
	justify-content: center;
}

a:active,
a:focus,
a:link,
a:visited {
	color: currentColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: currentColor;
	font-family: var(--font-family-heading);
	page-break-after: avoid;
	margin-bottom: 0.5em;
}

p {
	color: var(--color);
	margin-bottom: var(--unit);
	orphans: var(--dead-relatives);
	widows:  var(--dead-relatives);
}