/* what it looks like on paper */
html {
	--mourners: 3; /* widows and orphans, get it? */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	page-break-after: avoid;
}

p {
	orphans: var(--mourners);
	widows: var(--mourners);
}

.no-print {
	display: none;
}
