/** what it looks like on paper
* @see: https://www.w3.org/TR/css-page-3/
*/
html {
	--mourners: 3; /* widows and orphans, get it? */
}

/* avoid page breaks in awkward places */
dt,
h1,
h2,
h3,
h4,
h5,
h6,
summary {
	page-break-after: avoid;
}

footer {
	page-break-inside: avoid;
}

p {
	orphans: var(--mourners);
	widows: var(--mourners);
}

/* things to hide in print */
.no-print,
nav {
	display: none;
}

/* print the URL for external links */
.print-url,
a[href^="https://"]:after {
	content: ' (' attr(href) ')';
}

@page {
	size: Letter portrait;
	margin: 0;
}
