/* what it looks like on illuminated rectangles */
html {
	--animation-duration: 30s;
	--border: 1px solid rgba(var(--rgb-border), 0.25);
	--color-background: Black;
	--color-one: Coral;
	--color-three: Aqua;
	--color-two: RebeccaPurple;
	--color: White;
	--gradient-background: linear-gradient(to bottom, var(--color-background), transparent 300%);
	--rgb-background: var(--rgb-black);
	--rgb-border: var(--rgb-white);
	animation: colorShiftRule var(--animation-duration) linear infinite;
	background-attachment: fixed;
	background-color: currentColor;
	background-image: var(--gradient-background);
	color: var(--color-one);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-image: linear-gradient(to bottom, currentColor, var(--color) 200%);
	background-position: -100%;
	background-size: 200%;
	color: currentColor;
}

a,
a:active,
a:focus,
a:link,
a:visited {
	animation: colorShiftRule var(--animation-duration) linear infinite;
	color: var(--color-one);
}

a:target {
	font-weight: bold;
	text-decoration: underline;
}

dd,
dt,
p,
span {
	color: var(--color);
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

blink {
	animation: blink 1s infinite;
}

@keyframes colorShiftRule {
	0% {
		color: var(--color-one);
	}
	33.3% {
		color: var(--color-two);
	}
	66.7% {
		color: var(--color-three);
	}
	100% {
		color: var(--color-one);
	}
}

@media (prefers-color-scheme: light) {
	html {
		--color: Black;
		--color-background: White;
		--color-three: MediumTurquoise;
		--color-two: Indigo;
		--color-one: Tomato;
		--rgb-background: var(--rgb-white);
		--rgb-border: var(--rgb-black);
	}
}

@supports (background: paint(something)) {
	@property --color {
		syntax: '<color>';
		inherits: true;
		initial-value: White;
	}
	@property --color-one {
		syntax: '<color>';
		inherits: true;
		initial-value: Coral;
	}
	@property --color-background {
		syntax: '<color>';
		inherits: true;
		initial-value: Black;
	}
	@property --color-three {
		syntax: '<color>';
		inherits: true;
		initial-value: Aqua;
	}
	@property --color-two {
		syntax: '<color>';
		inherits: true;
		initial-value: RebeccaPurple;
	}

	@keyframes colorShiftProperty {
		33.3% {
			--color-one: var(--color-two);
		}
		66.7% {
			--color-one: var(--color-three);
		}
	}

	@keyframes colorAccentShiftRule {
		0% {
			color: var(--color-one);
		}
		33.3% {
			color: var(--color-one);
		}
		66.7% {
			color: var(--color-one);
		}
		100% {
			color: var(--color-one);
		}
	}

	html {
		--gradient-background: linear-gradient(
			to bottom,
			var(--color-background),
			var(--color-one) 200%
		);
		animation: colorShiftProperty var(--animation-duration) linear infinite;
		color: var(--color-one);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-one);
		background-image: linear-gradient(to bottom, var(--color-one), var(--color) 300%);
	}

	a,
	a:active,
	a:focus,
	a:link,
	a:visited {
		animation: colorAccentShiftRule var(--animation-duration) linear infinite;
		color: var(--color-one);
	}
}

@media (prefers-reduced-motion: reduce) {
	html {
		animation: none;
	}

	a,
	a:active,
	a:focus,
	a:link,
	a:visited {
		animation: none;
	}
}
