/* styles for (min-width: 512px) screens */

#photo {
	float: right;
	margin: 1em;
	max-width: 38.2%;
}

nav a {
	padding: 1em;
}

dt {
	float: left;
	margin-right: 1.5em;
	text-align: right;
	width: 10%;
}
