/* prefers-color-scheme: dark */

body {
	background-color: #000000;
	color: #ffffff;
}

.dark-message {
	display: block;
	color: #ff0000;
}

input:not([type]),
input[type='email'],
input[type='text'],
input[type='url'],
textarea {
	background: #000000;
	color: #ffffff;
}
