extends ../templates/base.pug

block content
	picture
		source(srcset='jesse975.webp' media='(min-width: 512px)' type='image/webp')
		img#photo.round(src='jesse512.png' alt='Photo of Jesse Hattabaugh')
	h1 How&apos;d&apos;y do?
