/* styles that apply to all media, do not put print or screen specific styles here */
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	margin: 1em;
	transition: all 1s;
}
nav {
	border-bottom: 0.1em solid red;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
nav,
button {
	font-family: 'Neucha', cursive;
	clear: left;
}

h1,
h1 :link,
h1 :visited,
nav :link,
nav :visited {
	color: red;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav a {
	font-size: 1.5em;
	padding: 4%;
	vertical-align: middle;
}

button {
	background: red;
	border-radius: 1em;
	border: 0.2em outset red;
	color: white;
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin: 1em auto;
	padding: 1em 2em;
	transition: 1s all;
}
button:hover {
	border: 0.2em inset red;
}

label {
	display: block;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

input:not([type]),
input[type=email],
input[type=text],
input[type=url],
textarea {
	font-size: 1em;
	margin: 0.5em 0;
	padding: 0.5em;
	width: 100%;
	transition: 1s all;
}

dt::after {
	content: ':';
}

dd {
	margin-inline-start: 0;
}

footer {
	border-top: 0.1em solid red;
	margin-top: 1em;
}

footer address {
	display: inline;
}

.round {
	border-radius: 50%;
	box-shadow: black 0.5em 0.5em 1em 0em, red 0 -0.2em 0em 0.5em;
	shape-outside: circle(50%);
}

.dark-message {
	display: none;
}

#photo {
	width: calc(100% - 2em);
	margin: 1em;

}

#copyright {
	display: block;
	text-align: right;
}
#darkToggle {
	position: fixed;
	top: 1em;
	right: 1em;
}
#darkToggle label {
	font-size: 1em;
}
#darkToggle input[type=checkbox] {
	visibility: hidden;
	position: absolute;
}
#darkToggle [type="checkbox"] ~ label:before {
	content: '🌑';
}
#darkToggle input[type="checkbox"]:checked ~ label:before {
	content: '🌞';
}
