/* prefers-color-scheme: dark */

body {
	background-color: black;
	color: white;
}

.dark-message {
	display: block;
	color: red;
}

:link, :visited {
	color: red;
}

input:not([type]),
input[type=email],
input[type=text],
input[type=url],
textarea  {
	background: black;
	color: white;
}