/* styles for screens */

#photo {
	width: 100%;
}

label {
	display: block;
}

[type='submit'] {
	font-size: 1em;
	background: #f00;
	color: white;
	display: block;
	margin: 1em auto;
	padding: 1em;
}
