/* styles for (min-width: 512px) screens */

#photo {
	float: right;
	max-width: 38.2%;
	margin: 0 1em;
}

nav a {
	padding: 1em;
}

dt {
	text-align: right;
	width: 10%;
	float: left;
	margin-right: 1em;
}
